@page
@using Remote
@using Remote.Request
@inject RemoteCall remoteCall;
@{
    ViewData["Title"] = "Seat";
}

@section Styles{
    <link rel="stylesheet" href="https://ms0.meituan.net/mywww/cinemas-seat.d66e64ba.css" />
}

<div class="main clearfix">
    @Html.Raw(await remoteCall.FeatchHtmlAsync(new FetchSeatHtmlRequest() { SeqNo = "201808020026945" }))
</div>

@section Scripts
    {
    <script>
        var S = $(".screen").width(), z = $(".seats-wrapper").width();
        var e = z / 2;
        $(".screen-container").css("left", e - S / 2);
    </script>
}