<page-header></page-header>


<div nz-row nzType="flex" nzJustify="start">
    <div nz-col nzSpan="4">
        <nz-input-group nzAddOnBefore="城市">
            <input placeholder="输入城市" nz-input [(ngModel)]="inputValue" (input)="onInput($event.target?.value)" [nzAutocomplete]="auto">
            <nz-autocomplete nzBackfill #auto>
                <nz-auto-option *ngFor="let option of options" [nzValue]="option.id" [nzLabel]="option.nm">
                    {{option.nm}}
                </nz-auto-option>
            </nz-autocomplete>
        </nz-input-group>
    </div>

    <div nz-col nzSpan="4">
        {{inputValue}}
    </div>
    <div nz-col nzSpan="4">col-4</div>
    <div nz-col nzSpan="4">col-4</div>
</div>