@page
@model CinemaModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Wizard.Cinema.Remote.Services
@{
    ViewData["Title"] = "Cinema";
}

@functions
{

public class CinemaModel : PageModel
{
    readonly CityService cityService;

    public CinemaModel(CityService cityService)
    {
        this.cityService = cityService;
    }

    public IActionResult OnGet()
    {
        return Page();
    }

    public IActionResult OnGetSearchCity(string keyword)
    {
        var citys = this.cityService.Search(keyword);
        return new JsonResult(citys);
    }
}
}

<h2>Cinema</h2>