@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Remote.ApplicationServices
@using Remote.Spider
@using Remote.Spider.Request
@inject RemoteSpider RemoteCall;
@inject HallService hallService;
@{
    ViewData["Title"] = "Seat";
    var hallId = ViewContext.HttpContext.Request.Query["hallId"].ToString();
    var html = int.TryParse(hallId, out var id) ? hallService.GetById(id)?.SeatHtml : null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wizard.Cinema.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="~/css/cinemas-seat.css" rel="stylesheet" />
    <style>
        .container {
            width: 1200px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    @if (string.IsNullOrEmpty(html))
    {
        <h1>出错了</h1>
    }
    else
    {
        <div class="container" id="app">
            <div class="main clearfix">
                @Html.Raw(html.Replace("seat sold", "seat selectable"))
                <div class="side">
                    <div class="ticket-info">
                        <div class="has-ticket">
                            <span class="text">座位：</span>
                            <div class="ticket-container" data-limit="6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="ok">确定</button>
        <button id="select-all">全选</button>
        <button id="select-none">全部选</button>
        <input type="hidden" id="selected-seat" value="[]" />
    }
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/cinemas-seat.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js"></script>
        <script src="~/js/cinemas-seat.js"></script>
    </environment>

    <script>
        $('#ok').click(function () {
            window.close();
        });
    </script>
</body>
</html>