.navbar {
  height: 50.5px;
  color: #fff;
  background: #e54847;
  border-bottom: 1px solid #e54847;
  display: -webkit-box;
  display: -ms-flexbox;
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.navbar .nav-wrap-left {
  height: 50.5px;
  line-height: 50.5px
}

.navbar .h1.nav-header,
.navbar h1.nav-header {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
  margin: 0 52.5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

.nav-wrap-left a.back {
  height: 50px;
  width: 22.5px;
  line-height: 50px;
  padding: 0 15px
}

.icon-back {
  display: inline-block;
  width: 22.5px;
  height: 22.5px;
  vertical-align: middle;
  position: relative
}

.icon-back:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
